/* popup.css */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 2; /* Set a higher z-index than other elements on the page */
  }
  
  .popup-content {
    text-align: center;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
  }
  